* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
}

body {
    background: #0f0f0f;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
}

.container { 
    text-align: center;
}

button {
    margin: 1rem;
    padding: 0.75rem 1rem;
    border: none;
    background: #ffffff;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

#projects {
    margin-top: 100vh;
    padding: 4rem 2rem;
    background: #151515;
    text-align: center;
}


.project-card { 
    padding: 5rem 1rem;
    margin-bottom: 24px;
    border: solid black 1px;
}

.project-card:hover {
    background-color: #1a1a1a;
}

.project-title {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 20pt;
}

.project-tech { 
    font-size: 16pt;
    color: gray;
    margin: 8px;
}

.project-link {
    color: blue;
    text-decoration: underline;
}

.project-link:hover { 
    color: gold;
}